@use "../style/tokens";



.bg {
  &__circle {
    fill: tokens.$color-green;
  }

  &__text {
    fill: tokens.$color-purple-300;
  }
}

.arm {
  &__stroke {
    fill: tokens.$color-purple-400;
  }

  &__fill {
    fill: tokens.$color-purple-500;
  }
}
